services:
  - type: web
    name: shiksha-setu
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      python app.py
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: shiksha_setu_db
          property: connectionString